//Styling for the header-top-bar pattern file
#hso-logo-link a, #ot-logo-link a, #smilers-logo-link a {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hso-logo-link a img {
    height: 30px;
    width: auto;

    @media screen and (max-width: 660px) {
        height: 18px;
        width: auto;
    }
}

#ot-logo-link a img {
    height: 27px;
    width: auto;

    @media screen and (max-width: 660px) {
        height: 18px;
        width: auto;
    }
}

#smilers-logo-link a img {
    height: 35px;
    width: auto;

    @media screen and (max-width: 660px) {
        height: 20px;
        width: auto;
    }
}

#brand-websites-navigation {
    @media screen and (max-width: 660px) {
        gap: 0.2rem;
    }
}

.header-top-bar-nav {
    @media screen and (max-width: 845px) {
        display: none;
    }
}