#contact-modal, #student-packages-modal {
    display: none;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    margin-block-start: 0 !important;

    .inner-content {
        width: 80%;
        max-width: 1280px;
        margin: 5% auto;
        padding: 30px;
        border-radius: 10px;
        background-color: #fff;
        position: relative;
    }

    .close {
        color: #444;
        font-size: 30px;
        font-weight: bold;
        cursor: pointer;
        position: absolute;
        right: 20px;
        top: 10px;
    }
}