//Sticky header
.header-sticky {
    position: fixed !important;
    width: 100%;
}

//Upper header nav
.upper-header-nav {
    li {
        font-size: 15px;
        font-weight: 500;
        gap: 5px;
    }

    li:hover, li:focus, li:active {
        color: $hso-blue-100;
        button {
            color: $hso-blue-100 !important;
        }
    }
    
    a:hover, a:focus, a:active {
        color: $hso-blue-100 !important;
    }
}

//Desktop nav menu styling
.site-main-nav--desktop {
    @media screen and (max-width: 845px) {
        display: none !important;
    }

    ul {
        gap: 10px;
    }

    .wp-block-navigation-submenu.has-child {
        display: flex;
        flex-wrap: nowrap;
        padding: 15px 10px !important;
        border-radius: 5px;
        font-size: 15px;
        font-weight: 500;
        margin: 0 10px;
        gap: 5px;
    }

    .wp-block-navigation-submenu:hover, .wp-block-navigation-submenu:active, .wp-block-navigation-submenu:focus {
        color: black !important;
        background-color: white;
    }

    //Submenu Styling
    .wp-block-navigation .has-child .wp-block-navigation-submenu__toggle[aria-expanded=true]~.wp-block-navigation__submenu-container,.wp-block-navigation .has-child:not(.open-on-click):hover>.wp-block-navigation__submenu-container,.wp-block-navigation .has-child:not(.open-on-click):not(.open-on-hover-click):focus-within>.wp-block-navigation__submenu-container.has-child ul.wp-block-navigation-submenu {
        position: fixed;
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        min-width: 600px;
        max-width: 700px;
        border-radius: 10px;
        background-color: $gray-200 !important;
        padding: 30px;
        top: 140px;
        left: 0 !important;
        right: 0 !important;
        margin: auto;

        a {
            width: 200px;
            height: 80px;
            border-radius: 10px;

            span {
                display: flex;
                align-items: center;
                img {
                    display: block;
                }
            }

            &:hover {
                background-color: #fff;
            }
        }
    }

    .wp-block-navigation .desktop-shop-dropdown.has-child .wp-block-navigation-submenu__toggle[aria-expanded=true]~.wp-block-navigation__submenu-container {
        display: grid !important;
        min-width: 800px;
        max-width: 900px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }


    .desktop-brands-dropdown li a img,
    .desktop-philosophies-dropdown li a img {
        width: 150px !important;
    }

    .desktop-education-dropdown li a img {
        width: 80px !important;
        padding-right: 20px;
    }

    .desktop-shop-dropdown li a img {
        width: 70px !important;
        padding-right: 20px;
    }

}

  //Mobile nav styling
.site-main-nav--mobile {

    :where(.wp-site-blocks *:focus) {
        outline: none !important;
    }

    //Close button
    .wp-block-navigation__responsive-container-close {
        padding: 20px;
    }

    //Fix some widths
    .wp-block-navigation__responsive-dialog, .wp-block-navigation__responsive-container-content, .wp-block-navigation__responsive-container-content ul {
        width: 100%;
        padding: 10px;
    }

    //List item
    .site-main-nav--mobile-link {
        padding: 0;
        padding-bottom: 10px;
        width: 100%;
        display: block;
        border: none;
        outline: none;

    }

    //List item - Anchor tag
    .site-main-nav--mobile-link .wp-block-navigation-item__content {
        display: block;
        width: 100%;
        position: relative;

        span {
            display: block;
            padding: 15px 25px;
            width: 100%;
            border-radius: 0.3em;
        }

        &:hover {
            text-decoration: none;
            border: none;
        }

        &:hover span {
            background-color: #fff;
        }
    }

    .mobile-link-has-sub-menu .wp-block-navigation-submenu__toggle .wp-block-navigation-item__label::after {
        content: "";
        height: 10px;
        width: 10px;
        display: inline-block;
        margin-left: 20px;
        background: url("../../assets/images/navigational-icons/chevron-right.png");
        background-size: contain;
        background-repeat: no-repeat;
    } 
    .mobile-link-has-sub-menu {
        position: relative;
    }

    .mobile-link-has-sub-menu > .wp-block-navigation__submenu-container {
        position: fixed !important;
        width: 100% !important;
        height: 100% !important;
        z-index: 200;
        top: 0 !important;
        margin-top: 50px;
        // right: 0 !important;
        animation: slide-out 0.2s forwards;
            -webkit-animation: slide-out 0.2s forwards;

        li {
            padding-bottom: 10px;
        }
    }

    .mobile-link-has-sub-menu > .wp-block-navigation__submenu-container.is-menu-open {
        animation: slide-in 0.3s forwards;
            -webkit-animation: slide-in 0.3s forwards;
    }

    .mobile-backlink {
        cursor: pointer;
    }

    .mobile-backlink::before {
        content: "";
        height: 10px;
        width: 10px;
        display: inline-block;
        margin-left: 20px;
        background: url("../../assets/images/navigational-icons/chevron-left.png");
        background-size: contain;
        background-repeat: no-repeat;
    }

    @media screen and (min-width: 845px) {
        display: none !important;
    }
}

//Hacky solution to override submenu on mobile having no background
.wp-block-navigation__responsive-container.is-menu-open .mobile-link-has-sub-menu .wp-block-navigation__submenu-container {
    background: $gray-200 !important;
}

//Mobile Nav Slide in/out animations

.site-main-nav--mobile .wp-block-navigation__responsive-container.menu-closed {
    animation: slide-out 0.2s forwards;
        -webkit-animation: slide-out 0.2s forwards;
}

.site-main-nav--mobile .wp-block-navigation__responsive-container.is-menu-open {
    animation: slide-in 0.3s forwards;
    -webkit-animation: slide-in 0.3s forwards;
}

//Main header background color and opacity
//change on scroll
.background-opacity-0 {
    background-color: rgba(0, 0, 0, 0) !important;
}