.swiper {
    li {
        margin-block-start: 0;
    }
}

.posts-swiper {
    overflow-y: visible !important;
    li {
        width: 100%;
        margin-right: 0 !important;
    }

    @media screen and (min-width: 600px) {
        .swiper-wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 40px;
        }

        li {
            width: auto !important;
        }
    }

    @media screen and (max-width: 600px) {
        .swiper-wrapper {
            gap: 20px;
        }
        li {
            max-width: 400px;
        }
    }
}

.swiper-navigation {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 30px;
    overflow: visible;

    .swiper-button-prev,
    .swiper-button-next {
        width: 30px;
        height: 30px;
        color: black;
        position: static;
        margin-top: auto;
        background-color: #fff;
        border: 1px solid #000;
        opacity: 1;
    }

    .swiper-button-prev:after,
    .swiper-button-next:after {
        font-size: 18px;
    }
}

.product-details-swiper {
    @media screen and (min-width: 700px) {
        // overflow: visible;
        width: 100%;
    }
    .swiper-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 10px;
    }
}