.swiper {
    li {
        margin-block-start: 0;
    }
}

.posts-swiper {
    li {
        width: 100%;
        max-width: 400px;
    }

    @media screen and (min-width: 600px) {
        .swiper-wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }

        li {
            width: auto !important;
        }
    }
}

.swiper-navigation {
    .swiper-button-prev,
    .swiper-button-next {
        width: 40px;
        height: 40px;
        color: black;
    }
}

.product-details-swiper {
    @media screen and (min-width: 700px) {
        // overflow: visible;
        width: 100%;
    }
    .swiper-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 10px;
    }
}