// 
// user.scss
// Use this to write your custom SCSS
//

.header-fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
}

//Fix footer margin top
footer:has(#site-footer) {
    margin-block-start: 0;
}

.visually-hidden {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }

.absolute-bottom-center {
    position: absolute !important;
    bottom: 30px !important;
    left: 0 !important;
    right: 0 !important;
    margin: auto;
}

:where(.wp-site-blocks *:focus) {
    outline-width: 0 !important;
    outline-style: none !important;
}

//Container width 1380
.container {
    max-width: 1280px !important;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;

    @media screen and (max-width: 800px) {
        padding-left: 15px;
        padding-right: 15px;
    }
}

//Color fixes from WP
.has-base-2-color {
    color: #ffffff !important;
}
.has-black-background-color {
    background-color: #000000 !important;
}

.has-base-2-background-color {
    background-color: #ffffff !important;
}

//Social Media Links in Footer
.wp-block-social-links {
    list-style-type: none;
}

.about-border-left {
    border-left: 2px solid $hso-blue-100;
}

.about-divider {
    border-bottom: 2px solid $hso-blue-100 !important;
    opacity: 1;
}

//Reverse column mobile
@media screen and (max-width: 1000px) {
    .reverse-col-mobile {
        display: flex;
        flex-direction: column-reverse !important;
        justify-content: center;
        align-items: center;
        flex-basis: auto
    }

    .reverse-col-mobile > * {
        flex-basis: auto;
    }

    .mobile-justify-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .mobile-text-center {
        text-align: center !important;
        justify-content: center !important;
    }
}

@media screen and (max-width: 500px) {
    .mobile-justify-start {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
}
