// 
// user.scss
// Use this to write your custom SCSS
//

//Container width 1380
.container {
    max-width: 1380px !important;
}

//Color fixes from WP
.has-base-2-color {
    color: #ffffff !important;
}
.has-black-background-color {
    background-color: #000000 !important;
}

.has-base-2-background-color {
    background-color: #ffffff !important;
}

//Social Media Links in Footer
.wp-block-social-links {
    list-style-type: none;
}

