//
// type.scss
// Extended from Bootstrap
//

//Import all of the fonts

@font-face {
    font-family: 'Theinhardt';
    src: url('../assets/fonts/Theinhardt/theinhardt-black-webfont.woff2') format('woff2'),
         url('../assets/fonts/Theinhardt/theinhardt-black-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}




@font-face {
    font-family: 'Theinhardt';
    src: url('../assets/fonts/Theinhardt/theinhardt-blackita-webfont.woff2') format('woff2'),
         url('../assets/fonts/Theinhardt/theinhardt-blackita-webfont.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}




@font-face {
    font-family: 'Theinhardt';
    src: url('../assets/fonts/Theinhardt/theinhardt-bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/Theinhardt/theinhardt-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}




@font-face {
    font-family: 'Theinhardt';
    src: url('../assets/fonts/Theinhardt/theinhardt-boldita-webfont.woff2') format('woff2'),
         url('../assets/fonts/Theinhardt/theinhardt-boldita-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;

}




@font-face {
    font-family: 'Theinhardt';
    src: url('../assets/fonts/Theinhardt/theinhardt-hairline-webfont.woff2') format('woff2'),
         url('../assets/fonts/Theinhardt/theinhardt-hairline-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}




@font-face {
    font-family: 'Theinhardt';
    src: url('../assets/fonts/Theinhardt/theinhardt-hairlineita-webfont.woff2') format('woff2'),
         url('../assets/fonts/Theinhardt/theinhardt-hairlineita-webfont.woff') format('woff');
    font-weight: 100;
    font-style: italic;

}




@font-face {
    font-family: 'Theinhardt';
    src: url('../assets/fonts/Theinhardt/theinhardt-heavy-webfont.woff2') format('woff2'),
         url('../assets/fonts/Theinhardt/theinhardt-heavy-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;

}




@font-face {
    font-family: 'Theinhardt';
    src: url('../assets/fonts/Theinhardt/theinhardt-heavyita-webfont.woff2') format('woff2'),
         url('../assets/fonts/Theinhardt/theinhardt-heavyita-webfont.woff') format('woff');
    font-weight: 800;
    font-style: italic;

}




@font-face {
    font-family: 'Theinhardt';
    src: url('../assets/fonts/Theinhardt/theinhardt-light-webfont.woff2') format('woff2'),
         url('../assets/fonts/Theinhardt/theinhardt-light-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}




@font-face {
    font-family: 'Theinhardt';
    src: url('../assets/fonts/Theinhardt/theinhardt-lightita-webfont.woff2') format('woff2'),
         url('../assets/fonts/Theinhardt/theinhardt-lightita-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;

}




@font-face {
    font-family: 'Theinhardt';
    src: url('../assets/fonts/Theinhardt/theinhardt-medium-webfont.woff2') format('woff2'),
         url('../assets/fonts/Theinhardt/theinhardt-medium-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;

}




@font-face {
    font-family: 'Theinhardt';
    src: url('../assets/fonts/Theinhardt/theinhardt-mediumita-webfont.woff2') format('woff2'),
         url('../assets/fonts/Theinhardt/theinhardt-mediumita-webfont.woff') format('woff');
    font-weight: 600;
    font-style: italic;

}

@font-face {
    font-family: 'Theinhardt';
    src: url('../assets/fonts/Theinhardt/theinhardt-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/Theinhardt/theinhardt-regular-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}




@font-face {
    font-family: 'Theinhardt';
    src: url('../assets/fonts/Theinhardt/theinhardt-regularita-webfont.woff2') format('woff2'),
         url('../assets/fonts/Theinhardt/theinhardt-regularita-webfont.woff') format('woff');
    font-weight: 500;
    font-style: italic;

}




@font-face {
    font-family: 'Theinhardt';
    src: url('../assets/fonts/Theinhardt/theinhardt-thin-webfont.woff2') format('woff2'),
         url('../assets/fonts/Theinhardt/theinhardt-thin-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}




@font-face {
    font-family: 'Theinhardt';
    src: url('../assets/fonts/Theinhardt/theinhardt-ultralight-webfont.woff2') format('woff2'),
         url('../assets/fonts/Theinhardt/theinhardt-ultralight-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;

}




@font-face {
    font-family: 'Theinhardt';
    src: url('../assets/fonts/Theinhardt/theinhardt-ultralightita-webfont.woff2') format('woff2'),
         url('../assets/fonts/Theinhardt/theinhardt-ultralightita-webfont.woff') format('woff');
    font-weight: 200;
    font-style: italic;

}