// 
// user.scss
// Use this to write your custom SCSS
//

//Container width 1380
.container {
    max-width: 1380px !important;
}


//Styling for the upper-top-bar pattern file
#hso-logo-link a, #ot-logo-link a, #smilers-logo-link a {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hso-logo-link a img {
    height: 30px;
    width: auto;

    @media screen and (max-width: 536px) {
        height: 18px;
        width: auto;
    }
}

#ot-logo-link a img {
    height: 27px;
    width: auto;

    @media screen and (max-width: 536px) {
        height: 18px;
        width: auto;
    }
}

#smilers-logo-link a img {
    height: 35px;
    width: auto;

    @media screen and (max-width: 536px) {
        height: 20px;
        width: auto;
    }
}

//Color fixes from WP
.has-base-2-color {
    color: #ffffff !important;
}
.has-black-background-color {
    background-color: #000000 !important;
}

.has-base-2-background-color {
    background-color: #ffffff !important;
}

.site-main-nav--desktop {
    @media screen and (max-width: 800px) {
        display: none;
    }
}

.site-main-nav--mobile {
    .wp-block-navigation__responsive-dialog, .wp-block-navigation__responsive-container-content, .wp-block-navigation__responsive-container-content ul {
        width: 100%;
    }

    .site-main-nav--mobile-link {
        padding: 10px 25px;
        width: 100%;
        display: block;
    }

    .site-main-nav--mobile-link .wp-block-navigation-item__content {
        display: block;
        width: 100%;

        span {
            display: block;
            padding: 15px 25px;
            width: 100%;
            border-radius: 0.3em;
        }
        &:hover span {
            background-color: #fff;
        }
    }

    @media screen and (min-width: 800px) {
        display: none;
    }
}

